<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand bg-primary navbar-dark
navbar-dark
navbar-dark">
    <a class="navbar-brand text-light"> Product Management</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/welcome']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/products']" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/products/0/edit']" routerLinkActive="active">Add Products</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>